<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <listeners>
        <listener class-name="utils.CustomTestListener" />
    </listeners>
    <test name="Run">
        <classes>
            <class name="suites.RunSuite"/>
        </classes>
    </test>
</suite>
